img{
     margin-left: 43.5%;
    width: 150px;
    lenght: 150px;
}
h1{
   color: black;
   text-align: center;
    font-family: courier new;
    font-size: 50px;
    background-color: salmon; 
}
h2{
     color: black;
    font-family: courier new;
    font-size: 100px;
}
h3{
    margin-left: 43.5%;
    font-family: courier new;
    font-size: 18px;
    color: black;
}
tr{
    margin-left: 43.5%;
    font-family: courier new;
    font-size: 18px;
     text-align: center;
}
label{
    margin-left: 43.5%;
    font-family: courier new;
    font-size: 18px;
}